body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F8FF;
  overflow-x: hidden;
}

.page-enter-active,
.page-leave-active {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 500ms;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}


.grey-5{
  color: #E0E0E0;
}

.grey-4{
  color: #BDBDBD;
}

.grey-3{
  color: #828282;
}

.grey-2 {
  color: #4F4F4F;
}

.dark-blue {
  color: #2B42A3;
}

.blue {
  color: #1C56D9
}

.orange-1 {
  color: #F2783F;
}



.label-discount {
  position: relative;
  display: block;
  background-color: #60C887;
  min-width: 50px;
  height: 25px;
  border-radius: 1.25rem;
  padding: 0.25rem 0.625rem;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  margin: 0.15rem 0;
}

.label-new {
  position: relative;
  display: block;
  background-color: #F2783F;
  min-width: 50px;
  height: 25px;
  border-radius: 1.25rem;
  padding: 0.25rem 0.625rem;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  margin: 0.15rem 0;
  font-style: italic;
}

.mark {
  color:#4F4F4F;
  font-size:1.25rem;
  font-weight: 700;
  background-color: #F6F8FF;
  overflow: hidden;
}

.mark:after {
    content:"";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #BDBDBD;
}

.btn {
  width: 100%;
  outline: none;
  box-shadow: none;
}

.btn-blue {
  border: 1px solid #1C56D9;
  color: #1C56D9;
  background-color: white;
  padding: 0.38rem 1.9rem;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: .5s all;
}

.btn-blue.active {
border: 1px solid transparent;
color: white;
background-color: #1C56D9;
padding: 0.38rem 1.9rem;
border-radius: 1.25rem;
font-size: 0.75rem;
}
